body {display: flex;
flex-direction: column;
font-family: sans-serif;}
h1 {
    line-height: 0;
}
img {
    max-width: 10rem;
    align-self: center;
}


table {
    width: 30%;
    border: 3px solid black;
    padding: 1rem;
    align-self: center;
}
table tr {
    text-align: center;
}
table td {
    text-align: center;
}

.tema {
    text-align: start;
}