@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Inter";
}
.container-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 30rem;
  gap: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1rem;
  border-radius: 10px;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  max-width: 14rem;
  min-height: 14rem;
  display: flex;
  border-radius: 100%;
  border: 1px solid black;
  margin-top: 0.9rem;
}

.card-info {
  margin: auto 0px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
