/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

ul, ol, li {
    color: black;
    list-style: none;
}

.example{
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

.example-item_first{
    background-color: pink;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
} 
.example-item_second{
    background-color: #57c76b;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column ;
    justify-content: center ;
    align-items: center;
}
.example-item_third{
    background-color: purple;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse ;
    justify-content: center;
    align-items: center;
}

/*⬇️ Comentar esta estilizacao do exercicio 6 em diante ⬇️*/
/* ul, ol, li, img {
    display: none;
}                   */
/*⬆️            ⬆️*/

/* RESPONSIVIDADE */
/* 1- Entre 300px e 500px o background seja na cor verde */
/* 2- Até 300px a cor do texto tem que ser pink */
/* 3- Acima de 900px coloque o sentido dos itens em linha */
/* 4- Abaixo de 450px coloque o sentido dos itens em coluna */

/*⬇️ Utilize o exemplo abaixo para resolver os 3 exercicios acima ⬇️*/

@media screen and (min-width: 300px) and (max-width:500px){

    body {
        background-color: green;
    }
}

@media screen and (max-width:300px){
    .example li {
        color: pink;
    }
}

@media screen and (min-width:900px) {
    .example {
        flex-direction: column;
    }

    
}

@media  screen and (max-width:450px) {
    .example {
        flex-direction:column;
    }

    
}
